<section>
    <section>
        <img src="https://i.pinimg.com/736x/5f/56/e4/5f56e47d7fe9e1bd6ca6cb92692925d7.jpg" alt="" class="w-20">
        <h3>12.09.2025</h3>
    </section>
    <div>
        <p>Después de 10 años juntos y de vivir la experiencia más bonita que te regala la vida, vamos a firmar.</p>
    </div>
    <section>
        <section>
            <div>Sandra</div>
            <div>Giovani</div>
        </section>
        <div>&</div>
    </section>
    <section>
        <div>
            <p>Los esperamos para celebrar juntos nuestra boda civil el día</p>
        </div>
        <div>
            <p>VIERNES • <span>21</span> • SEPTIEMBRE</p>
            <p>2024</p>
        </div>
    </section>
    <section>
        <img src="assets/anillos-de-boda.svg" alt="" class="w-20">
    </section>
    <section>
        <div>Cl. 31 #23-17</div>
        <div>HORA 7:00 PM</div>
    </section>
    <img src="assets/Flowers.png" alt="" class="w-20 -scale-x-100">
</section>